h1, h2, h3, h4, h5, h6, div, p, .btn {
  font-family: 'Comfortaa', cursive;
  -webkit-user-select:none;
  word-wrap: break-word;}

p {
  word-wrap: break-word;}

/* label color */
 .input-field label {
   color: #FFFFFF !important;
 }
 /* label focus color */
 .input-field input, label, textarea {
   color: #FFFFFF !important;
   font-weight: bold;
 }

 /* label underline focus color */
 .input-field input:focus, textarea:focus{
   border-bottom: 1px solid #FFFFFF !important;
   box-shadow: 0 1px 0 0 #FFFFFF !important;
 }

 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #000;
 }

.card {
  display: inline-block;
  max-width: 35vh;
  min-width: 25px;
  margin: 1rem 1rem 1rem 1rem;
}

.card-content {
  min-height: 90px;
}

.modal {
  height: 190px;
}

#modal_add {
  height: 250px;
  background: #b71c1c;
}

#modal_sprint {
  height: 250px;
  background: #0d47a1;
}

#modal_completed {
  background: #43a047 !important;
  color: white !important;
}
svg {
  stroke-linecap: round;
  height: 70vh;
  width: 100vh;
  padding: 1rem 1rem;
}

body {
  background: #FFF;
}

.icons > a > i {
  color: #c62828;
}

#timer {
  text-align: left;
  font-weight: bold;
}

.emptyList > a {
  color: #c62828;
  padding: 2rem 2rem;
}

.emptyList > h5 {
  margin: 20px auto !important;
}

.tooltipped {
  color: white;
}

.title {
  font-weight: bold;
}

.description {
  max-width: 50vh;
  font-size: 12px;
}

.timestamp {
  max-width: 10px;
  color: black;
}

.dropdown-content > ul > li {
  background: #000;
}

ul > li > a {
  color: #795548 !important;
  font-weight: bold;
}

.material-icons {
  color: #43a047;
}

.table-button > .material-icons {
  color: #f44336;
}

#count {
  color: white;
}

.completed {
  color: green !important;
}

#pietimer {
  padding: 0rem 2rem;
}
