/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#container {
    min-height: 300px;
    min-width: 700px;
    background: lightgoldenrodyellow;
    background-size: cover;
}

#container .wrap {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 10px;
    background: rgba(210,210,175);
}

.wrap .pageTitle {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgrey;
}

.wrap .pageTitle > a > img {
    float: left;
    margin: 20px 20px 20px 10px;
    width: 40px;
    height: 40px;
}

.wrap .pageTitle > h2 {
    font-size: 20px;
    margin: 25px auto;
    float: left;
}

.wrap .formsBox {
    margin: 0 auto;
    padding: 20px 0px;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid black;
}
.formsBox  > input {
    width: 75%;
    margin: 5px 5px 5px 20px;
    color: black;
    padding: 5px; 
}

.formsBox  > h2 {
    margin: 20px 20px 0px 20px;
}
.formsBox  > button {
     float:right; 
    margin:5px 20px 5px 5px;
    padding: 5px 25px;
    font-size: 12px;
}

.formsBox  > textarea {
    width: 94%;
    height: 60px;
    margin: 5px 20px 20px 20px;
    border-radius: 2px;
    border: 1px solid grey;

}
.wrap .infoBox {
    min-height: 85px;
    width: 100%;
}

.wrap .infoBox .entry {
    margin: 10px auto;
    width: 85%;
    min-height: 150px;
    padding: 10px 32px;
    border: 2px solid brown;
    border-radius: 10px;
}

.entry .task {
    float:left;
    width: 90%;
    height: 100%;
}

.entry .delete {
    float:left;
    display: block;
    width: 9%;
    height: 140px;
    margin: 2% auto;
    border-left: 2px solid brown;
}

.delete > button {
    margin: 40px 5px 5px 20px;
    padding: 5px 10px;
}

.wrap .footer {
    border-top: 1px solid lightgrey;
    margin: 30px auto;
    width: 100%;
    height: 50px;

}

.footer > p {
    font-size: 10px;
    color: black;
    margin: 10px 10px 0px 10px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}