.navbar-brand {
    padding: 9px 15px;
}

.navbar-brand > span{
    font-family: Pacifico, cursive;
    font-size: 24px;
}

.container {
    width: 70%;
}

.panel {
    margin: 30px;
}

.panel-heading > a{
    color: black;
}

.panel-custom {
    padding: 0px;
}

.center {
    padding: 16px;
}

.custom-grid {
    float: left;
    height: 300px;
    width: 299px;
    padding: 10px 10px;
    /*border: 1px solid yellow;*/
}

.custom-grid .img-container {
    position: relative;
    width: 100%;
}

.img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.img-container:hover .image {
    opacity: 0.3;
}

.img-container:hover .middle {
    opacity: 1;
}

.img-text {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
    );
    color: white;
    font-size: 16px;
    padding: 124px 124px;
}

.profile-container {
    width: 95%;
    border: 1px solid yellow;
}

.profile-picture {
    width: 300px;
    height: 250px;
    float:left;
    /*margin: 20px auto;*/
    border: 1px solid red;
}

.col-sm-4 > img {
    margin: 10% 25% auto;
}

.profile-info {
    float: right;
    display: block;
    padding: 15px 15px;
    width: 70%;
    height: 250px;
    border: 1px solid black;
}

.dropdown {
    display: inline-block;
    align-self: right;
}

.dropdown-toggle {
    border: 1px solid transparent;
}

.comment {
    border: 1px solid transparent;
}

.btn-default {

    border: 1px solid transparent;
}