/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**
 * sourced from codepen.io
 */

#container {
  min-height: 700px;
  min-width: 1200px;
  background-image: url('../img/bg.png');
  background-size: cover;
}

#container .wrap {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 100%;
  background: transparent;
}

.wrap .header {
    height: 100px;
    width: 100%;
    padding: 10px 10px;
    margin: 0 auto;
}

.wrap .header > h3 {
  padding: 10px 20px;
  margin: 20px auto;
  font-size: 24px;
  color: white;
}
.wrap > form {
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
}

.wrap > form > input {
  width: 70%;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid grey;
  margin: 15px 0px 10px 25px;
}

.wrap > form > button {
  margin: 10px 5px 10px 20px;
  padding: 8px 5px;
  border-radius: 5px;
  font-size: 14px;
  background: grey;
  border: 1px solid transparent;
  color: white;
}

.wrap > form > button:hover {
    background-color: red; /* Green */
    color: white;
}

#textblock {
    margin: 0 auto;
    width: 75%;
    border-radius: 10px;
    background: lightgrey;
    padding: 10px 10%;
}

#process .loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: red;
}








/*   ==========================================================================
   Media Queries
   ========================================================================== */

 @media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

 .hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

 @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
