.fixed-panel {
  height: 82vh;
  overflow-y: scroll;
}

.fixed-sidebar {
  height: 45vh;
  overflow-y: scroll;
}

.sidebar {
  background-color: #4D5250;
  border-right: 1px solid #eee;
  height: 100vh;
}

.ul > h4 {
  color: white;
}

.main {
  color: #2C2D30;
  padding: 0px;
  background: white;
}

.panel-body {
  padding: 5px 2px;
  word-wrap: break-word;
}

#msg {
  border: 2px solid #4D5250;
  border-radius: 5px;
}

.btn-custom {
  padding: 1px;
  background-color: #4D5250;
  border: 1px solid transparent;
  wdith: 100%;
}

.btn-custom:hover {
    background-color: #333333;
    border: 1px solid #333333;
    border-radius: 0px;
}

.content-header {
  height: 60px;
  width: 100%;
  padding: 10px 20px;

  background: white;
  border-bottom: 1px solid lightgrey;
}

a {
  color: lightgrey;
}

.content-header > h4 {
  color: #4D5250;
}

h4 {
  color: lightgrey;
}

p {
  color: white;
}
