/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
    width: 100%;
    height: 100%;
    min-height: 700px;
}

#container .header {
    width: 100%;
    height: 670px;
    background: linear-gradient(rgba(47, 40, 78, 0.9), rgba(50, 46, 83, 0.95)), url('../img/header_bg_1600x670.jpg');
    background-size: cover;
}

.header .wrap960 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.wrap960 .header-top {
    float: left;
    width: 100%;
    height: 80px;
}

.wrap960 .header-top .logo-wrap {
    float: left;
    width: 25%;
    height: 100%;
}

.logo-wrap .logo {
    width: 128px;
    height: 50px;
    display: block;
    margin: 15px 0 0 10px;
    background: url('../img/logo_128x50.png');
}

.wrap960 .header-top .menu-wrap {
    float: left;
    width: 75%;
    height: 100%;
}

.menu-wrap ul {
    float: right;
    width: 650px;
    height: 30px;
    padding: 0;
    margin: 25px 0 0 25px;
    list-style: none;
}

.menu-wrap ul > li {
    float: left;
    padding: 0;
    display: inline;
    margin: 0 6px;
}

.menu-wrap ul > li > a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.menu-wrap ul > li > a:hover {
    color: #00e0d0;
}

.header-middle {
    float: left;
    width: 100%;
    height: 420px;
    padding: 80px 0;
}

.header-middle > h1 {
    color: #FFF;
    font-size: 30pt;
    text-align: center;
}

.header-middle > p {
    width: 80%;
    margin: 30px auto;
    color: #FFF;
    text-align: center;
    font-size: 14pt;
}

.dark-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.dark-button:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.separator {
    display: block;
    width: 50px;
    height: 1px;
    margin: 0 auto;
    border-top: 1px solid #00e0d0;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 180px auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

/*==========================================================================*/

#container .second {
    width: 100%;
    height: 400px;
    background: #FFF;
}

.second .wrap960{
    display: block;
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.second .wrap960 .logo-wrap-sec {
    float: left;  
    width: 400px;
    height: 100%;
    margin: 0 auto;
}

.logo-wrap-sec .logo-2 {
    width: 235px;
    height: 229px;
    display: block;
    margin: 70px auto;
    background: url('../img/sec2-logo.png');
}

.wrap960 .second-right {
    float:right;
    display: block;
    width: 558px;
    height: 100%;
    margin: 0 auto;
}

.second-right .our-story > h1 {
    font-size: 28px;
    color: #413d4b;
    margin: 75px 0 0 5px;
}

.our-story > p {
    font-size: 14px;
    color: #413d4b;
    margin: 20px auto 0 5px;
}

.second-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 30px 0 0 5px;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.second-button:hover {
    color: #413d4b;
    border: 1px solid #413d4b;
}

/*==========================================================================*/

#container .third {
    width: 100%;
    height: 550px;
    background: linear-gradient(rgba(47, 35, 78, 0.85), rgba(50, 46, 83, 0.85)), url('../img/sec3-bg.jpg');
    background-size: cover;
}

.third .wrap9603 {
    display: block;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
}

.wrap9603 .center {
    display: block;
    width: 105px;
    height: 105px;
    margin: 190px auto 0;

}

.center .play {
    width: 100px;
    height: 100px;
    display: block;
    margin: 70px auto;
    background: url('../img/play.png');
}   

.wrap9603 .third-text {
    display: block; 
    width: 200px;
    height: 40px;
    margin: 0 auto; 
}

.wrap9603 .third-text > p {
    font-size: 18px;
    text-align: center;
    color: white;
}

/*==========================================================================*/

#container .fourth {
    width: 100%;
    height: 754px;
    background: white;
}

.fourth .wrap9604 {
    display: block;
    width: 960px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
}

.wrap9604 .header-4 {
    display: block;
    width: 100%;
    height: 140px;
    border: 1px solid transparent;
}

.header-4 > h1 {
    font-size: 28px;
    margin: 55px 0 0 0;
    color: #413d4b;
    text-align: center;
}

.header-4 > p {
    font-size: 14px;
    margin: 16 auto 16 auto;
    color: #413d4b;
    text-align: center;
}

.separator-4 {
    display: block;
    width: 50px;
    height: 1px;
    margin: 5px auto;
    border-top: 1px solid #413d4b;
}

.wrap9604 .body {
    display: block;
    margin: 0 0 0 0;
    width: 100%;
    height: 604px;
    border: 1px solid transparent;
}

.body > ul {
    padding: 30px 7px;
}

.body > ul > li {
    display: inline-block;
    width: 310px;
    height: 250px;
}

.body > ul > li > img {
    width: 50px;
    height: 50px;
    margin: 40px 130px 0 130px ;
}

.body > ul > li > h5 {
    text-align: center;
    color: #413d4b;
}

.body > ul > li > p {
    text-align: center;
    color: #413d4b;
}


/*==========================================================================*/

#container .fifth {
    width: 100%;
    height: 710px;
    background: linear-gradient(rgba(47, 35, 78, 0.80), rgba(50, 46, 83, 0.85)), url('../img/sec5-bg.jpg');
    background-size: cover;
}

.fifth .wrap9605 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
}

.wrap9605 .header-5 {
    display: block;
    width: 100%;
    height: 140px;
    border: 1px solid transparent;
}

.header-5 > h1 {
    font-size: 28px;
    margin: 55px 0 0 0;
    color: WHITE;
    text-align: center;
}

.header-5 > p {
    font-size: 14px;
    margin: 16 auto 16 auto;
    color: white;
    text-align: center;
}

.separator-5 {
    display: block;
    width: 50px;
    height: 1px;
    margin: 5px auto;
    border-top: 1px solid transparent;
}

.wrap9605 .body {
    width: 100%;
    height: 355PX;
    border: 1px solid transparent;
}

.wrap9605 .body .middle {
    float: left;
    margin: 40px 0 0 9px;
    width: 230px;
    height: 88%;
    border-bottom: 1px solid white;
}

.middle > img {
    width: 220px;
    height: 230px;
}

.middle > h5 {
    color: white;
    text-align: center;
    margin: 10px 0 0 0;
}

.middle > p {
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
}

.wrap9605 .footer-5 {
    display: block;
    width: 100%;
    height: 220px;
    border: 1px solid transparent;
}

.footer-5 > p{
    margin: 50px;
    text-align: center;
    color: white;
}

.footer-5 .dark-button {
    display: block;
    width: 150px;
    height: 40px;
    margin: 0 auto 0;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.dark-button:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

/*==========================================================================*/

#container .sixith {
    width: 100%;
    height: 737px;
    background: white;
}

.sixith .wrap9606 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.sixith .header-6 {
    width: 960px;
    height: 157px;
    margin: 0 auto;
}

.header-6 > a {
    float: right;
    color: #413d4b;
    text-decoration: none;
    margin: 40px 10px auto;
}

.header-6 .right {
    float: left;
    width: 50%;
    height: 100%;
}
.header-6 .right > h4 {
    margin: 60px 0 0 10px;
    color: #413d4b;
}

.sixith .footer-6 {
    width: 960px;
    height: 180px;
    margin: 0 auto;
}

.sixith .middle-6 {
    
    width: 100%;
    height: 400px;

    margin: 0 auto;
}

.middle-6 .boxes {
    float: left;
    width: 16.667%;
    min-width: 150px; 
    height: 50%;

}

.boxes > img {
    width: 100%;
    height: 100%;
}

.footer-6 .second-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 70px auto;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.second-button:hover {
    color: #413d4b;
    border: 1px solid #413d4b;
}

/*==========================================================================*/

#container .seventh {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(47, 35, 78, 0.80), rgba(50, 46, 83, 0.85)), url('../img/sec7-bg.jpg');
    background-size: cover;
}

.seventh .wrap9607 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
}

.body-7 {
    width: 100%;
    height: 350px;
    text-align: center;
    color: white;
}

.body-7 > h1 {
    padding: 55px;
}

.body-7 > p {
    padding: 0px 90px;
    text-align: center;
}

.body-7 .speaker {
    font-size: 14px;
}

.speaker > img {
    padding: 40px;
}
/*==========================================================================*/

#container .eight-th {
    width: 100%;
    height: 655px;
    background: white;
}

.eight-th .wrap9608 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.wrap9608 .clients {
    float: right;
    width: 45%;
    height: 100%;
}

.clients > img {
    padding: 40px 40px 10px 10px;

}

.clients > h3 {
    margin: 70px auto 10px 10px;
    color: #413d4b;
}


.form-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 30px 0 0 10px;
    padding: 10px;
    font-size: 12pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.second-button:hover {
    color: #413d4b;
    border: 1px solid #413d4b;
}


form {
    float: left;
    width:55%;
    height: 100%;

}

input {
    display: block;
    padding: 10px 10px;
    margin: 15px 10px auto;
    width: 80%;
    color: #413d4b;
    background: transparent;
    border: 1px solid rgba(192,192,192,5);;
}

textarea {
    display: block;
    padding: 10px 10px 180px;
    margin: 20px 10px auto;
    width: 80%;
    color: #413d4b;
    border: 1px solid rgba(192,192,192,5);;
}

form > h3 {
    margin: 70px auto 10px 10px;
    color: #413d4b;
}

/*==========================================================================*/

#container .footer {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(47, 35, 78, 0.80), rgba(50, 46, 83, 0.85)), url('../img/footer.jpg');
    background-size: cover;
}

.footer .wrap9600 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid transparent;
}
.wrap9600 .footer-side {
    float: left;
    width: 33.33%;
    height: 99%;
}

.footer-side .footer-wrap ul {
    float: right;
    width: 650px;
    height: 30px;
    padding: 0;
    margin: 25px 0 0 25px; 
    list-style: none;
}

.footer-wrap ul > li {
    float: right;
    padding: 0;
    display: inline;
    margin: 0 12px;
}

.footer-wrap ul > li > a {
    text-decoration: none;
    font-size: 12px;
    color: #FFF;
    font-weight: bold;
}

.footer-wrap ul > li > a:hover {
    color: #00e0d0;
}
 
.footer-side > img {
    margin: 70px 0px 0px 20px;
} 

.footer-side > p {
    margin: 40px 10px 10px 10px;
    color: white;
    font-size: 13px;
    padding: 10px;
}

.footer-side > p > img { 
    padding: 10px;
}

.socialmedia {
    padding: 10px;
}

 .footer-side .socialmedia > img {
    width: 35px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.footer-side > h4 {
    color: white;
    padding: 10px;
    margin-top: 90px;
}

.footer-side .copyrights {
    float: right;
    padding: 10px;
    color: white;
    font-size: 12px;
}

.footer-side > input {
    display: block;
    padding: 10px 10px;
    margin: 15px 10px auto;
    width: 80%;
    color: white;
    background: transparent;
    border: 1px solid rgba(192,192,192,5);;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
